.saveAwayPage {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  background-color: rgb(240, 240, 240);
}

.goalBoxContainer {
  // border: solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.emoji {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
  p + p {
    font-size: 1rem;
  }
  p {
    margin-bottom: 1rem;
    word-wrap: break-word;
  }
}

.progressBar {
  // padding-left: 0.4rem;
  text-align: center;
}

.goalBox {
  padding: 1rem 2rem 2rem 2rem;
  border: solid thin lightgrey;
  border-radius: 0.3rem;
  // border: solid purple;
  background-color: white;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.addGoalBox {
  padding: 1rem 2rem 2rem 2rem;
  border: solid thin lightgrey;
  border-radius: 0.3rem;
  // border: solid purple;
  background-color: white;
  margin: 0.5rem;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addGoalBox:hover {
  border: solid rgb(8, 136, 247);
  transform: scale(1.05);
}

.numberInfo {
  p {
    margin-bottom: 0.5rem;
    color: rgb(130, 130, 130);
  }
}

.targetAndAmount {
  display: flex;
  justify-content: space-between;
}

.searchContainer {
  width: 370px;
}

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(8, 136, 247);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  font-size: 1rem;
}

.searchTerm:focus {
  color: rgb(8, 136, 247);
}

.searchGoButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(8, 136, 247);
  background: rgb(8, 136, 247);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.searchContainerMain {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dropDownSort {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;

  p {
    margin-right: 0.6rem;
  }

  select {
    cursor: pointer;
    padding: 0.2rem 0.1rem 0.2rem 0.1rem;
    border: none;
    font-size: 0.9rem;
  }
}
